:root{
    --primary: #eb1ccc;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary:#5d5d5d; 
}
*{
    font-family: "montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inicio estilização header*/
header{
    height: 70px;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#logo img{
    height: 100px;
    width: 100px;

    
}
#logo{
    margin-left: 40px;
    margin-top: 15px;
    
   
}
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    list-style-type: none;
}

.nav-menu a{
    margin-left: 20px;
    font-size: 'montserrat';
    font-weight: 300;
    text-decoration: none; 
    color: var(--text-color); 
}
.nav-menu a:hover{
    text-decoration: underline;
    text-underline-offset: 26px;
}

#redes img{
    height: 30px;
    width: 30px;
    margin: 7px;
    opacity: 0.8    ;
}
#redes{
    margin-right: 50px;
    display: flex;
}
/*Fim estilização header*/


/*menu-mobile*/
#toogle{
    display: none; 
}
.open{
    display: none;
}
/* fim -menu-mobile*/


#event-description{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url("img/laser1.png");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex; 
    justify-content:space-around; 
    align-items: center;
    color: var(--text-color);
}
#disclaimer{
    color: var(--text-color);
}


#disclaimer .about-event{
    font-size: 1.8em;
    text-transform: uppercase;
    max-width: 600px;
    font-weight: bold;
    margin-bottom: 1em;
    color: var(--primary);
}

#disclaimer p{
    font: 1.5em;
    margin-bottom: .3em;
    font-weight: 500;
}


button{
    width: 300px;
    height: 60px;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    background: var(--primary);
    border: none;
    cursor: pointer;
    padding: 5px;
    
}
button:hover{
    background: #d22eb9;
}


#txt-chamada{
    max-width: 400px;
}


/*Benefits Section*/
#key-benefits {
    height: 600px;
}
#key-benefits h2{
    color: #5d5d5d;
    text-align: center;
    padding: 1.5em;
    font-weight: 500;
}
.benefits{
    display: flex;
    justify-content:space-between;
    padding: 1em; 
}
.benefit{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-tertiary);
    margin: 35px;
   
}
.benefit .benefit-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}
#benefit-1{
    background-image: url("img/foto1.jpg");
}
#benefit-2{
    background-image: url("img/mulhersorrindo.jpg");
}
#benefit-3{
    background-image: url("img/visibilidade.jpg");
}
#benefit-4{
    background-image: url("img/lista.jpg");
}
.benefite, span{
    font-weight: bold;
}
/*fin vantagens*/

/*inicio seção - Como funciona a parceria*/
 #partnership{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 450px;
}
#title-partership{
    max-width: 40%;
    font-size: 40px;
    color: var(--primary);
    font-weight: bolder;
}
#txt-partnership{
    max-width: 630px;
    font-family: 'monntserrat';
    font-weight: 500;
    color: var(--text-tertiary);
    font-size: 20px;
}
/*fim -Como funciona a parceria*/

/*Inicio - Perguntas frequente*/
#questions{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: 'montserrat';
    height: 650px;
    max-width: auto;
}

#title-questions{
    font-size: 45px;
    max-width: 40%;
    color: var(--primary);
}
#box-questions{
    max-width: 50%;
}
.txt-questions{
    margin-top: 20px;
}
.txt-questions h3{
    color: var(--primary);
    font-size: 15px;
}
.txt-questions p{
    font-size: 15px;
    font-weight: 400;
}

/*Slide de fotos*/
#galery-photo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 550px; 
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(img/foto2.jpg);
    background-size: cover;
    background-position: center;
    
}
#title-slide{
    color: var(--secondary);
}
.photos li{
    font-size: 20px;
    color: var(--text-color);
}


#img-slide{
   width: 370px;
   height: 540px;
 
}

/*Secao sobre mim*/ 
#fotoMel{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}
#about-me{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 500px;
}
#section-about-me h1{
    text-align: center;
    color: var(--primary);
    font-size: 35px;
    color: var(--secondary);
    
}
#txt-about p{
    max-width: 630px;
    font-family: 'montserrat';
    color: #5d5d5d;
    font-weight: 500;
    font-size: 18px;
}


/*Call to action cta*/
#cta{
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url("img/sala3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);

  }

  #cta h3{
    margin-bottom: 1.2em;
    font-size: 1.5em;
    font-weight: 500;
  }
  #cta .btn{
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  
  #mel-png img{
    height: 270px;
    width: 160px;
  }
  #mel-png{
    margin-left: 70%;
    margin-top: -270px;

  }
  
footer{
    align-items: center;
    color: var(--text-secondary);
    height: 90px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}
footer, span{
    color: #414141;
}

.whats-fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
}

/*Responsividade ---------------------------------------------------------------------------------------------*/
@media (max-width: 450px){
    body{
        background: #000;
        color: #fff;
    }
     /*Cabecalho -menu*/
    header{
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    }
    #logo{
        margin-left: 15px;
        margin-top: 15px;      
    }

   /*menu-mobile*/
    .open{
        display: none;
    }
    
    #nav-mobile{
        flex-direction: column; 
    }
    #menu-mobile{
        margin-top: 70px;
        background-color: #000;
        padding: 3px;     
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;     
    }
   

    .nav-menu-mobile a{
        font-size: 22px;
        font-weight: 400;
        text-decoration: none; 
        color: var(--text-color); 
    
    }
    .nav-menu-mobile{
        text-align: center;
        margin: 10px;
        list-style-type: none;
    }
    /*Fim menu Mobile*/
   
    #menu{
        display: none;
    }
    #redes{
        display: none;
    }
    
    #toogle{
        display: none;
        width: auto;
        background: none;
        font-size: 40px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
     } 
     /*FIM Cabecalho -menu*/
    
   

    /*Chamada 1 secao*/
    #event-description{
        flex-direction: column;
        height: 500px;
        gap:15px;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    #disclaimer .about-event{
        font-size: 22px;
    }
  
    #txt-chamada{
        max-width: 90%;
        font-size: 20px;
       
    }
    #disclaimer{
        margin-top: 60px;
    }
    #disclaimer p{
       margin-left: 20px;
    }

    button{
        width: 370px;
        border-radius: 3px;
        font-size: 23px;
        color: rgb(223, 223, 41);
    }

    /*vantagens*/
    #key-benefits{
        height: auto;  
    }
    #key-benefits h2{
        color: #fff;  
       
    }
    .benefits{
        flex-direction: column;
       
    }
    .benefit{
        margin: 20px;
        background-color: none;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 1px 1px 15px #ede8e8;
        width: 310px;
        
       
   
    }
    .benefit p{ 
        font-size: 18px;
        font-weight: 400;
        color: #fff;
    }
    .benefit span{
        color: var(--primary);
    }

    /*fim vantagens*/

    /*parceria*/
    #partnership{
        flex-direction: column;
        height: auto;
    }
    #title-partership{
        max-width: 90%;
        font-size: 15px;
        color: var(--primary);
        font-weight: bolder;
        margin: 15px;
        
    }
    #txt-partnership{
        font-family: 'monntserrat';
        font-weight: 500;
        color: var(--text-tertiary);
        font-size: 20px;
        max-width: 360px;
        color: #fff;
        
    }
    /*fim -Como funciona a parceria*/

    /*Inicio - Perguntas frequente*/
#questions{
    flex-direction: column;
    font-family: 'montserrat';
    height: auto;
}
#txt-questions, span{
    color: #fff;
}
#box-questions{
    max-width: 94%;
}
#title-questions{
    font-size: 20px;
    max-width: 100%;
    margin-top: 15px;

}
.txt-questions{
    margin-top: 20px;
}
.txt-questions h3{
    color: var(--primary);
    font-size: 15px;
}
.txt-questions p{
    font-size: 15px;
    font-weight: 400;
}
/*fim - Perguntas frequente*/
/*Slide de fotos*/
#galery-photo{
    flex-direction: column;
    align-items: center;
    height: auto;
    background: black;
}

.mySlides img{
    margin-top: 4px;
  }
#title-slide{
    color: var(--secondary);
    font-size: 22px;
    margin-top: 10px;
    color: #fff;
}
.photos{
   display: none;
}
.slideshow-container{
   width: auto;
}

#img-slide{
   width: 375px;
   height: 560px;
   border-radius: 3px;
}

/*fim slide photos*/

/*Secao sobre mim*/ 
#fotoMel{
    height: 220px;
    width: 220px;
    margin-top: 20px;
}
#about-me{
    flex-direction: column;
    align-items: center;
    height: auto;
}
#section-about-me h1{
    text-align: center;
    color: var(--primary);
    font-size: 25px;
    color: var(--text-color);
    margin-top: 15px;
    
}
#txt-about p{
    font-family: 'montserrat';
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
    max-width: 360px;
    margin-top: 20px;
}
/* fim Secao sobre mim*/

/*Call to action cta*/
#cta{
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url("img/sala3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);

  }

  #cta h3{
    margin-bottom: 2em;
    font-size: 15px;
    font-weight: 500;
  }
  #cta .btn{
    margin: 0 auto;
    font-weight: bold;
    font-size: 23px;
    text-transform: uppercase;
  }
 
  
  #mel-png img{
    display: none;
  }
  #mel-png{
    margin-left: 70%;
    margin-top: -270px;
  }
  #mel-png{
    display: none;
  }
  /*Call to action cta*/
  footer{
    height: auto;
    background-color: #000;
    color: var(--text-color);
   
}
footer #dev{
    font-size: 10px;
}


.whats-fixed{
    position: fixed;
    bottom: 5px;
    right: 2px;
    z-index: 9999;
    cursor: pointer;
}

 
}